@inject NavigationManager _nav

<div class="menu-franja-blanca"></div>

<div class="menu-separador"></div>
<div class="d-flex justify-content-around align-self-center pt-2 menu">

    <div class="text-center @seleccionMenu[0]" @onclick="() => ClickItemMenu(0)">
        <img src="/imagenes/iconos/IVA.svg" alt="">
        <p>IVA</p>
    </div>

    <div class="text-center @seleccionMenu[1]" @onclick="() => ClickItemMenu(1)">
        <img src="/imagenes/iconos/IRPF.svg" alt="">
        <p>IRPF</p>
    </div>


    <div class="text-center @seleccionMenu[2]" @onclick="() => ClickItemMenu(2)">
        <img src="/imagenes/iconos/ANUAL.svg" alt="">
        <p>Anual</p>
    </div>

</div>

@code {
    private List<string> seleccionMenu = new();

    protected async override Task OnInitializedAsync()
    {
        seleccionMenu = new()
        {
            "selector","",""
        };
    }

    private void ClickItemMenu(int opcion)
    {
        for (int i = 0; i < seleccionMenu.Count; i++)
        {
            if (opcion != i)
            {
                seleccionMenu[i] = "";
            }
            else
            {
                seleccionMenu[i] = "selector";
            }
        }

        NavegarARuta(opcion);

    }

    private void NavegarARuta(int opcion)
    {
        switch (opcion){
            case 0:
                _nav.NavigateTo("/NuevoIRPF");
                break;
            case 1:
                _nav.NavigateTo("/NuevoIRPF");
                break;
            case 2:
                _nav.NavigateTo("/NuevoIRPF");
                break;
        }
    }



}