@page "/gestionIVA"
@inject IVAServicio _ivaServicio

<CardIVAVista Titulo="Ventas">
    @foreach (var itemVenta in Ventas)
    {
        <ItemCardIVA entradaIVA="itemVenta" />
    }
</CardIVAVista>

<CardIVAVista Titulo="Compras">
    @foreach (var itemCompra in Compras)
    {
        <ItemCardIVA entradaIVA="itemCompra" />
    }
</CardIVAVista>

<CardIVAVista Titulo="Monto IVA a pagar">
    <p>Hola</p>
</CardIVAVista>



@code {
    int declaracionIVAId = 0;
    BimensualIVADTO bimensualIVA = new();

    List<EntradaIVADiarioDTO> Compras = new();
    List<EntradaIVADiarioDTO> Ventas = new();

    protected async override Task OnInitializedAsync()
    {
        declaracionIVAId = _ivaServicio.GetIdBimensual();
        await Actualizar();
    }

    private async Task Actualizar()
    {
        //traer el bimensual de la BD


        Compras = bimensualIVA.EntradasIVADiarios.Where(w => w.TipoIva == Util.TipoIva.COMPRA.ToString()).ToList();
        Ventas = bimensualIVA.EntradasIVADiarios.Where(w => w.TipoIva == Util.TipoIva.VENTA.ToString()).ToList();
    }



}
