@page "/HistorialParametros"
@inject ParametroServicio _parametroServicio
@inject NavigationManager _nav

@if (historialParametros != null)
{
    @foreach (var histParam in historialParametros)
    {
        <div class="recuadro">
            <button @onclick="() => EditarParametros(histParam.Id)">@histParam.Descripcion </button>
        </div>
    }
    }
   


@code {
    List<HistorialParametroDTO> historialParametros;

    protected async override Task OnInitializedAsync()
    {
        historialParametros = await _parametroServicio.GetHistorialParametros();
        historialParametros.OrderByDescending(o => o.Id);
    }

    private async Task EditarParametros(int historialParamId)
    {
        var historialParamSeleccionado = historialParametros.SingleOrDefault(s => s.Id == historialParamId);
        await _parametroServicio.SetParametroSeleccionado(historialParamSeleccionado);

        _nav.NavigateTo("/EdicionParametros");
    }
}
