@layout LoginLayout
@page "/"
@inject NavigationManager _nav
@inject UsuarioServicio _usuarioServicio
@inject IJSRuntime _js
@inject IToastService _toastServicio


<div class="TituloLogin">
    <h2 class="TituloLogin">Bienvenidos a</h2>
    <h1>DeclaraWeb 1.0</h1>
</div>

    <button @onclick="AutentificarmeConGoogle" class="botonGoogle">
    <img src="/imagenes/iconos/iconoGoogle.png" class="iconoGoogle" />
        Inicio de sesión con Google
    </button>


<img src="/imagenes/fondo.jpg" alt="fondo" class="fondoLogin" />


@code{

    public string IdToken { get; set; }

    protected async override Task OnInitializedAsync()
    {
        //leer token desde la localstorage si hay dato iniciar sesión
        //sino pedir la autentificacion con google
        IdToken = Util.ExtraerTokenURL(_nav.Uri);

        await Autentificarme();
        
    }

    private async void AutentificarmeConGoogle()
    {
        //aca levanto el local storage para  saber si ya está autentificado


        var url = "https://accounts.google.com/o/oauth2/v2/auth?";
        url += "client_id=306259551712-7972udthqs21p1lfb4dovegufboroqo4.apps.googleusercontent.com";
        url += "&redirect_uri=https://declaraapp.azurewebsites.net";
        url += "&response_type=id_token";
        url += "&scope=openid%20profile%20email&nonce=RANDOM_NONCE&state=RANDOM_STATE";

        _nav.NavigateTo(url);
        //

    }

    private async Task Autentificarme()
    {
        try
        {
            if (!string.IsNullOrEmpty(IdToken))
            {
                //token jwt

                var tupla = JWTServicio.GetClaimsFromToken(IdToken);
                string mail = tupla.mail;
                string idGoogle = tupla.id;

                bool autentificado = await _usuarioServicio.LoginRegistro(mail, idGoogle, IdToken);
                if (autentificado)
                {
                    _toastServicio.ShowSuccess("bienvenido");
                    _nav.NavigateTo("/Principal");
                }
                else
                {
                    _toastServicio.ShowInfo("Verificar usuario");
                }
            }
           
        }
        catch (Exception ex)
        {
            _toastServicio.ShowInfo(ex.Message);
        }
       
    }

    





}