@using System.Globalization
@inject NavigationManager _nav
@inject IVAServicio _IVAServicio


<section class="card-vista">
    <div class="row">
        <span>@Titulo</span>
    </div>

    @contenidoHTML

</section>



@code {
    [Parameter] public RenderFragment contenidoHTML { get; set; }
    [Parameter] public string Titulo { get; set; }


}

