@inherits LayoutComponentBase

<Cabecera />

<div class="page">
   
    <main>
        <MargenVertical Altura="10vh" />
            @Body
        <MargenVertical Altura="10vh" />
    </main>
    
</div>

<MenuLayer />





<div id="blazor-error-ui">
    Ha ocurrido un error
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
