@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<Cabecera />

<div class="page">
   <Autentificacion />
    <main>
        <MargenVertical Altura="10vh" />
            @Body
        <MargenVertical Altura="10vh" />
    </main>
    
</div>

<MenuLayer />

<RadzenComponents />
<BlazoredToasts Position="ToastPosition.TopCenter">
</BlazoredToasts>




<div id="blazor-error-ui">
    Ha ocurrido un error
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
