.card-general {
    position: relative;
    padding: 12px;
    margin: 35px 25px 25px 25px;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #F5F5F5;
}

.card-general img {
    width: 35px;
    height: 35px;
}

.card-general p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 500;
}

.card-general article {
    position: absolute;
    top: -20px;
    left: -15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 3px 10px;
    background-color: #CD87F3;
    color: white;
}

.card-general-submenu {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.color-rojo {
    color: red;
}

.color-verde {
    color: #5BBD61;
}

.botonMas{
    position:fixed;
    bottom:100px;
    right:10px;
    z-index:999;
}

.botonMas img{
   height:80px;
   width: 80px;
}
