.seleccionPDF {
    position: relative;
    display: inline-block;
}

.seleccionPDF::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.seleccionPDF input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}
