.imagen_boton{
    height:60px;
    width:60px;
}

.imagen_boton_chico {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.grupo_boton_seleccionado {
    background-color: #A2C4EE !important;
    color: blue;
}
.selectorTipoIva button {
    border-style: none;
    border: 1px solid #C6CBD2;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.colorBlanco {
    background-color: snow;
}

.selectorTipoIva button:first-child {
    border-radius: 50% 0 0 50%;
}

.selectorTipoIva button:last-child {
    border-radius: 0 50% 50% 0;
}

textarea {
    min-width: 100%;
    width: 100%;
    resize: none; /* Evita que se pueda redimensionar */
    box-sizing: border-box;
}
.input-small{
    width:50%;
}

button {
    border: none;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #007bff;
}

button:hover {
    background: #0b7dda;
}