
.boxIRPFEdicion{
    padding: 0 10px;
}

.boxIRPFEdicion h3 {
    color: forestgreen;
}


.boxIRPFEdicion input {
   width: 48%;
   
}

.boxIRPFEdicion p {
    margin: 0;
    padding: 0;
}

.recuadro {
    box-shadow: 1px 1px 8px -4px rgba(0,0,0,0.75);
    padding:10px;
    border-radius:10px;
}

.recuadro-margin {
   margin:10px;
}

.recuadro-margin-bottom {
    margin-bottom: 25px;
}

.boxIRPFEdicion h3{
    font-size:1.6rem;
    margin-top:20px;
    font-weight:700;
    text-align:center;
}
.boxIRPFEdicion h5 {
    font-size:1.1rem;
    color:orangered;
}

.boxIRPFEdicion select {
    margin: 10px 0;
    padding: 5px;
}

.color-switch {
    margin: 10px 0 20px 0;
}

.boxIRPFEdicion p {
    color: #8889FF;
}
.color-switch {
    color: darkgreen;
}
