
.item-iva {
    background-color: grey;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1);
    font-weight: 500;
    margin: 8px 0;
}

.item-iva img {
    height: auto;
    width: 100%;
}

.item-iva p {
    margin: 1px 0;
    color: blueviolet;
    font: weight 600px;
    text-align: center;
}

.item-iva table tr td:first-child {
    color: orangered;
    font-size: 0.8rem;
}

.item-iva table tr td:last-child {
    color: #3C3C3C;
}

.fuente-pequeña {
    font-size: 0.9rem;
    color: #3C3C3C !important;
}

.beforeIconEscucha{
    font-size:1.5rem;
    color:darkgreen;
}

.beforeIconEscucha::after {
    content: '';
    display: inline-block;
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
    background: url('/imagenes/iconos/microfono.png') bottom/contain no-repeat; /* Reemplaza con la ruta a tu icono personalizado */
    margin-left: 10px; /* Espacio opcional a la derecha del icono */
    transition: transform 0.5s ease-in-out;
    animation: escalar 1.1s infinite;
}

@keyframes escalar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.contenedor-iva{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    padding:20px;

}

.contenedor-iva input, .contenedor-iva select{
    padding:5px;
    margin-bottom:20px;
}

